{% extends 'main/base.html' %} {% block content %} {% load static %}



<div class="container">

  <h3>Отдел реализации сельскохозяйственных проектов был создан 26 сентября 1997 года Министерством сельского хозяйства КР.</h3>
  <p>ОРСП реализует проекты программы государственных инвестиций, которые финансируются<br>
     Группой Всемирного банка, Международным фондом сельскохозяйственного развития (IFAD)<br>
     и другими донорами. <br>

    <p>Реализация проектов в сфере сельского хозяйства – это совместный труд более десяти вовлеченных организаций и посильный вклад сотен тысяч бенефициаров.</p>
    
    <p>ОРСП принял участие в реализации восьми проектов в сфере сельского хозяйства:</p>
    
    <p>1. «Развитие овцеводства в Кыргызской Республике» (1996 – 2000гг.)<br>
    2. «Поддержка вспомогательных сельскохозяйственных услуг» (2002 – 2007гг.)<br>
    3. «Контроль птичьего гриппа, подготовленность и противодействие пандемии» (2006 – 2011гг.) <br>
    4. «Сельскохозяйственные инвестиции и услуги» (2008 – 2013гг.)<br>
    5. «Улучшение управления пастбищами и животноводством» (2014 – 2019гг.)<br>
    6. «Развитие животноводства и рынка – 1» (2013 – 2018гг.)<br>
    7. «Развитие животноводства и рынка – 2» (2014 – 2021гг.)<br>
    8. «Обеспечение доступа к рынкам» (2018 – 2024гг.)<br></p>
    
    <p>Проект «Обеспечение доступа к рынкам», финансируемый IFAD, выполняется во всех областях<br>
       Кыргызстана, Он направлен на рост активов и доходов участников цепочек добавленной<br>
        стоимости животноводческой продукции (молока, мяса, меда, шерсти), укрепление<br>
         потенциала ветеринарной службы, внедрение инноваций в сферу сельского хозяйства. <br></p>
    
   

    </p>
</div>


{%endblock%}
