{% extends 'main/base.html' %} {% block content %} {% load static %}



<div class="container">

    "Государственный банк развития Кыргызской Республики является юридическим лицом,<br>
     созданным в форме Открытого Акционерного Общества в соответствии с Постановлением Кабинета Министров от 31 мая 2022 года № 286. <br>
Единственным акционером Банка является Кабинет Министров Кыргызской Республики<br>
 в лице Государственного агентства по управлению государственным имуществом при Кабинете Министров Кыргызской Республики.<br>
Местом нахождения Банка является город Бишкек.<br>
Правовое регулирование деятельности Банка осуществляется в соответствии с <br>
Конституцией Кыргызской Республики, Законом «О Государственном банке развития Кыргызской Республики»<br>
 от 9 августа 2012 года № 161 и иными нормативными правовыми актами Кыргызской Республики."<br>


    


</div>


{%endblock%}
