{% extends 'main/base.html' %} {% block content %} {% load static %}



<div class="container">

    <h4>Информация на сайт по отделу Международного сотрудничества</h4>


    
   <h5> - Многостороннее сотрудничество</h5>
    
   <p><i> «Для обеспечения роста инвестиционных возможностей Банка и формирования положительного имиджа Кыргызской Республики, особое внимание уделяется развитию сотрудничества с международными финансовыми организациями»</i></p>
    
    Банк намерен установить деловые связи и сотрудничать с международными банками и национальными банками развития:<br>
    •	Группа Всемирного Банка<br>
    •	Азиатский Банк Развития<br>
    •	Европейский банк реконструкции и развития<br>
    •	Банки развития стран СНГ, Европы и Азии<br>
    •	Суверенные фонды развитых стран<br>
    •	Российско-Кыргызский фонд развития<br>
    •	Узбекско-Кыргызской фонд развития<br>
    •	Венгерско-Кыргызский фонд развития<br>
    •	Фонды Арабской координационной группы<br>
    •	Другие<br>
    
    <br>Банк предлагает следующие направления сотрудничества с международными финансовыми организациями:<br>
    •	совместное проектное финансирование на территории Кыргызской Республики;<br>
    •	совместная реализации проектов по экономическому развитию КР, включая привлечение технической помощи;<br>
    •	привлечение кредитных линий;<br>
    •	взаимное признание гарантий (экспортное финансирование, внешнеэкономические операции);<br>
    •	привлечение ресурсов и реализация программ «зеленых инициатив» и др.<br>
    
    <h5><br>- Двустороннее сотрудничество</h5>
    
    <i>«Банк развивает тесное взаимодействие с двусторонними Фондами развития расположенными в Кыргызской Республике, а также государственными банками»</i>
    
    <h5><br>Банк предлагает сотрудничество в виде:</h5>
    •	унифицированных и взаимоприемлемых направлений сотрудничества в части совместного финансирования проектов;<br>
    •	инвестиционного финансирования, посредством вхождения в капитал или как доля в капитале предприятий-экспортеров при наличии стратегии выхода из проекта; <br>
    •	реализации лизинговых операций;<br>
    •	целевых кредитных линий для проектного и инвестиционного финансирования.<br>
    
<h5><br>- Целевые ориентиры сотрудничества</h5>
    
    Секторы финансирования:<br>
    •	сельское хозяйство<br>
    •	энергетика<br>
    •	туризм<br>
    •	горнодобыча и переработка<br>
    •	инфраструктурные проекты<br>
    •	производство и промышленность<br>
    •	туризм<br>
    
    Целевые ориентиры:<br>
    •	создание рабочих мест<br>
    •	развитие региональной инфраструктуры<br>
    •	энергосбережение и энергогенерация<br>
    •	зеленая экономика и устойчивое развитие<br>
    •	проекты добавленной стоимости<br>
    •	развитие Парка креативных индустрий, парка электронной коммерции и IT парка<br>
    


</div>


{%endblock%}
