{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="page-wrapper">

				<div class="left-panel-wrapper">
					<div class="left-panel">
						<div class="container">
							<div class="container__staff">
								
										<p>
											<b>Программа прямого финансирования </b>предполагает финансирование хозяйствующих  <br>
									<b>субъектов в целях диверсификации и стимулирования экономики страны, создания рабочих </b> <br>
									мест и выравнивания экономического развития регионов. Данный вид кредитования <br>
									является одним из приоритетных направлений кредитной деятельности Банка.<br>
									Осуществление отбора и анализа проектов с последующим их финансированием будет <br>
									проводиться в соответствии со стратегией Банка, приоритетными секторами экономики и<br>
									внутренними нормативными документами Банка.<br>
									</p>
                                    <p>
                                        <b>Кредитный продукт №1</b>
                                    </p>
                                    <p>
                                        <b>«Программа прямого финансирования ГБР КР» </b>
                                    </p>
						</div>
									<table class="table__employees">
										<thead>
											<tr>
												<th>№  </th>
												<th>Параметры</th>
                                                <th>Содержание</th>					
											</tr>
										</thead>
													<tbody>
														<tr>
															<td><b>1</b></td>
															<td><b>Целевая группа</b></td>
                                                            <td>12,2 млн. долл. США - донор Международный фонд<br> сельскохозяйственного развития (МФСР)</td>
														</tr>
                                                        <tr>
															<td><b>2</b></td>
															<td><b>Юридическое лицо</b></td>
                                                            <td>Хозяйствующие субъекты, образованные в форме акционерного общества,<br>
                                                                 закрытого акционерного общества, общества с ограниченной ответственностью,<br>
                                                                  кооперативы, крестьянские (фермерские) хозяйства (с образованием юридического лица)<br>
                                                                   и государственные предприятия</td>
														</tr>
                                                        <tr>
															<td><b>3</b></td>
															<td><b>Сектор финансирования</b></td>
                                                            <td>Хозяйствующие субъекты, осуществляющие деятельность в следующих отраслях:<br>
                                                                •	сектор водоснабжения;<br>
                                                                •	сектор здравоохранения;<br>
                                                                •	сектор энергетики;<br>
                                                                •	автомобильная промышленность;<br>
                                                                •	туризм;<br>
                                                                •	образование, развитие человеческих ресурсов;<br>
                                                                •	наука, исследования и технологии;<br>
                                                                •	химическая и нефтехимическая промышленность;<br>
                                                                •	сельское хозяйство и агропромышленный комплекс;<br>
                                                                •	легкая (швейная и текстильная) промышленность;<br>
                                                                •	обрабатывающая и перерабатывающая промышленность;<br>
                                                                •	горнодобывающая и металлургическая промышленность;<br>
                                                                •	транспорт;<br>
                                                                •	торговля;<br>
                                                                •	развитие предпринимательства;<br>
                                                                •	развитие инфраструктуры;<br>
                                                                •	информационные технологии;<br>
                                                                •	электронная коммерция;<br>
                                                                •	креативная индустрия;<br>
                                                                •	сотовая связь;<br>
                                                                •	предприятия, организованные согласно устойчивым принципам ведения коммерческой деятельности (ESG)<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>4</b></td>
															<td><b>Целевое назначение</b></td>
                                                            <td>Проекты, направленные на диверсификацию и стимулирование экономики Кыргызской Республики,<br>
                                                                 а также создание рабочих мест и выравнивание экономического развития регионов.</td>
														</tr>
                                                        <tr>
															<td><b>5</b></td>
															<td><b>Валюта финансирования</b></td>
                                                            <td>кыргызский сом</td>
														</tr>
                                                        <tr>
															<td><b>6</b></td>
															<td><b>Срок финансирования</b></td>
                                                            <td>до 10 лет (120 месяцев)</td>
														</tr>
                                                        <tr>
															<td><b>7</b></td>
															<td><b>Процентная ставка</b></td>
                                                            <td>6 (шесть) % годовых</td>
														</tr>
                                                        <tr>
															<td><b>8</b></td>
															<td><b>Суммы финансирования</b></td>
                                                            <td>•	Максимальный размер кредита на одного Заемщика или группы связанных заемщиков не должен превышать 20% от Чистого суммарного капитала Банка.<br>
                                                                •	Минимальный размер кредита составляет – 20 млн. сом. 
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>9</b></td>
															<td><b>Собственный вклад</b></td>
                                                            <td>Собственник проекта должен осуществить собственный вклад в размере не менее 10% от стоимости проекта;<br> 
                                                                в случае проектного финансирования собственный вклад должен составлять не менее 30% (собственный вклад может быть внесен в форме денежной наличности, имуществом, в т.ч. интеллектуальным, земельным участком, основными средствами и пр.).</td>
														</tr>
                                                        <tr>
															<td><b>10</b></td>
															<td><b>Обеспечение по финансированию</b></td>
                                                            <td>•	Гарантии Государственных органов КР, Кабинета Министров, международных финансовых институтов, банков и Гарантийного Фонда КР;<br>
                                                                •	Государственные ценные бумаги КР;<br>
                                                                •	Недвижимое имущество, в т.ч. земельные участки;<br>
                                                                •	Оборудование, транспортные средства;<br>
                                                                •	Поручительства третьих лиц, приемлемость которых оценивается Банком согласно Залоговой политике Банка;<br>
                                                                •	Прочие виды обеспечения в соответствии с Залоговой политикой Банка.<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>11</b></td>
															<td><b>Оценка залогового обеспечения</b></td>
                                                            <td>•	Оценка стоимости залогового имущества осуществляется независимой оценочной компанией, включенной Банком в список компаний – партнеров и размещенный на сайте Банка.<br>
                                                                •	Дата проведения оценки стоимости залогового обеспечения не должна превышать срок более 6 (шесть) месяцев на дату подачи заявки на получение финансирования.<br>
                                                                •	Банк оставляет за собой право изменять стоимость оценки. <br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>12</b></td>
															<td><b>График погашения </b></td>
                                                            <td>•	По процентам – на ежемесячной/ежеквартальной основе;<br>
                                                                •	По основному долгу - согласно денежным потокам бизнеса заемщика, но не менее 2-х раз в год;<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>13</b></td>
															<td><b>Льготный период</b></td>
                                                            <td>По погашению процентов – до 9 месяцев;
                                                                По погашению основного долга – до 12 месяцев.
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>14</b></td>
															<td><b>Страхование предмета залога</b></td>
                                                            <td>Страхование предмета залога (в связи с риском гибели, потери, кражи, порчи, повреждения и болезней) определяется Решением Правления Банка по каждому проекту в отдельности. </td>
														</tr>
                                                        <tr>
															<td><b>15</b></td>
															<td><b>Процентная ставка при нецелевом использовании кредитных средств</b></td>
                                                            <td>В случае нецелевого использования кредитных средств процентная ставка увеличивается до 20 % годовых. Банк оставляет за собой право внесения информации о нецелевом использовании кредитных средств клиентом в Кредитно-Информационное бюро.</td>
														</tr>
                                                        <tr>
															<td><b>16</b></td>
															<td><b>Особые условия</b></td>
                                                            <td>•	Все расходы, связанные с оформлением кредита и регистрацией залогового имущества, оплачиваются Заемщиком;<br>
                                                                •	Заемщик несет ответственность за сохранность и надлежащее использование предмета залога.<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>17</b></td>
															<td><b>Ограничения</b></td>
                                                            <td>Банк не предоставляет:<br>
                                                                •	кредит без обеспечения;<br>
                                                                •	кредиты на торговые операции и оборотный капитал вне проектного финансирования;<br>
                                                                •	кредиты физическим лицам;<br>
                                                                •	кредиты при наличии просроченных обязательств по ранее выданным кредитам;<br>
                                                                •	кредиты Министерству Финансов Кыргызской республики, Кабинету Министров КР, другим государственным органам и органам местного самоуправления.<br>
                                                                
                                                                <br>Банк также не финансирует:<br>
                                                                •	игорный бизнес;<br>
                                                                •	военную индустрию; <br>
                                                                •	направления, где используется принудительный детский труд;<br>
                                                                •	деятельность, сопряженную с отмыванием/легализацией доходов, полученных незаконным путем, и финансированием терроризма;<br>
                                                                •	торговлю, производство и прочую деятельность, связанную с использованием оружия;<br>
                                                                •	виды деятельности, запрещенные законодательством КР.<br>
                                                                </td>
														</tr>
														
													</tbody>
									</table>
                                    <p><i> *Банк оставляет за собой право на изменение условий настоящей Программы
                                    </i> </p>
                                    
						</div>
					</div>
				</div>
</div>

{%endblock%}