{% extends 'main/base.html' %} {% block content %} {% load static %}
{% load i18n %}



  <section class="section__one">
    {%for photo in photos%}
    <div class="container__one">
      <img src="{{ photo.img1.url }}" alt="" class="container__img">
     <h1 class="container__img__h1">{{photo.title}}</h1>
      <a href="{% url 'news_home' %}"> <button class="container__img__btn">Новости</button></a>
    </div>
    {% endfor %}
  </section>
  <section class="section__two">
    <div class="container__news">
      <div class="news__cards__baisal">
        {% for el in news %}
       <div class="card__new">
          <div class="card__new__img">
            <a href="{% url 'news_detail' el.id %}">
            <img src="{{ el.img.url }}" alt="News" class="news__img">
          </a>
             <h3 class="card__new__title">{{ el.title|truncatechars:15}}</h3>
           <h6 class="new__description__p">{{ el.full_text|truncatechars:65|safe }}</h6>
          </div>
       </div>
       {% endfor %}
      </div>
    </div>
<main2>
    <h1 class="text-center">Наши партнеры</h1>
  <div class="container-box">
              <div class="box">
                <a href="https://www.vsemirnyjbank.org/ru/home"><img src="{% static './src/images/wb.png' %}" alt="img" /></a>
              </div>
            <div class="box">
              <a href="https://www.un.org/ru/"><img src="{% static './src/images/un-logo-big.png' %}" alt="img" /></a>
            </div>
  </div>
</main2>



{%endblock%}
