{% extends 'main/base.html' %} {% block content %} {% load static %}
<section class="section__one">
	

<!-- <div class="page-wrapper">
	
	<div class="left-panel-wrapper">
		<div class="left-panel">
			<div class="container">
				<div class="container__staff">
					<h4> Данные сотрудников</h4>
				</div>
				
					<table class="table">
						<thead>
							<tr>
								<th>Фотографии</th>
								<th>Ф.И.О</th>
								<th>Должность</th>
								<th>Телефон добавочный </th>
								<th>Эл. почта</th>
								<th>Кабинет</th>
								
							</tr>
						</thead>
						<tbody>
							{% for staf in staff %}
							<tr>
								<td>
									<div class="direcrot__box">
										<img src="{{ staf.photo.url }}" alt="">
									</div>
									</td>
								<td>{{ staf.title }}</td>
								<td>{{ staf.position }}</td>
								<td>{{ staf.phone }}</td>
								<td>{{ staf.email }}</td>
								<td>{{ staf.kab }}</td>	
							</tr>
							{%endfor%}
						</tbody>
					</table>
			</div>
		</div>
	</div>
	

	<!-- <div class="content-wrapper">
		<div class="about">
			<p> <b>Адрес:</b> г. Бишкек, ул. Киевская, 96 а, 5 этаж<br>
				<b>Телефоны:</b> (312) 665 625, (312) 975 974,<br>
				<b>e-mail:</b> office@apiu.kg<br>
			<p>
				<div class="header__top-logo">
					<div class="mapouter">
					  <div class="gmap_canvas">
					  <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=190&amp;hl=en&amp;q=Gruppa Kompaniy Bio-Agro, 96 Kiev St, Bishkek, Kyrgyzstan&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
					  </iframe>
					  <a href="https://www.gachacute.com/">www.gachacute.com</a>
					</div>
					<style>.mapouter{position:relative;text-align:right;width:600px;height:190px;}.gmap_canvas 
					  {overflow:hidden;background:none!important;width:600px;height:190px;}.gmap_iframe 
					  {width:600px!important;height:190px!important;}
					</style>
					</div>   
				  </div>
				</p>
				<ul class="footer__socialss">
					<li class="footer__link">
						<a href="https://www.instagram.com/apiu_kyrgyzrepublic/?hl=ru&ysclid=ld3zzcxdya991181283/" target="_blank">
							<img class="footer__icon" src="{% static './src/images/icons/free-icon-instagram.png' %}" alt="Instagram">
						</a>
					</li>
					<li class="footer__link">
						<a href="https://www.facebook.com/pg/apiu2019/posts/" target="_blank">
							<img class="footer__icon" src="{% static './src/images/icons/free-icon-facebook.png' %}" alt="Facebook">
						</a>
					</li>
					<li class="footer__link">
					  <a href="https://www.youtube.com/@apiu6342/" target="_blank">
						  <img class="footer__icon" src="{% static './src/images/icons/free-icon-youtube-3938026.png' %}" alt="Youtube">
					  </a>
				  </li>
				  <li class="footer__link">
					<a href="https://t.me/apiu2019/" target="_blank">
						<img class="footer__icon" src="{% static './src/images/icons/telegram.png' %}" alt="Telegram">
					</a>
				</li>
				</ul>
		</div>
	</div> -->
</div> -->
<div class="employees__table">
	<h4 class="table__h4"> Данные сотрудников</h4>
	<table class="table__employees">
	<thead>
		<tr>
			<th>Фотографии</th>
			<th>Ф.И.О</th>
			<th>Должность</th>
			<th>Телефон добавочный </th>
			<th>Эл. почта</th>
			<th>Кабинет</th>
			
		</tr>
	</thead>
	<tbody>
		{% for staf in staff %}
		<tr>
			<td>
				<div class="direcrot__box">
					<img src="{{ staf.photo.url }}" alt="">
				</div>
				</td>
			<td>{{ staf.title }}</td>
			<td>{{ staf.position }}</td>
			<td>{{ staf.phone }}</td>
			<td>{{ staf.email }}</td>
			<td>{{ staf.kab }}</td>	
		</tr>
		{%endfor%}
	</tbody>
</table>
</div>
</section>
{%endblock%}