{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="page-wrapper">

				<div class="left-panel-wrapper">
					<div class="left-panel">
						<div class="container">
							<div class="container__staff">
								
										<p>
											<b>Программа целевого финансирования через Банки-партнеры.  </b>Финансирование  <br>
									<b>проектов через коммерческие банки будет осуществляться путем подписания Кредитного  </b> <br>
									договора с банками-партнерами по финансированию целевых проектов.  <br>
									</p>
                                    <p>
                                        <b>Кредитный продукт №2</b>
                                    </p>
                                    <p>
                                        <b>Программа «Целевое финансирование через Банки-партнеры»** </b>
                                    </p>
						</div>
									<table class="table__employees">
										<thead>
											<tr>
												<th>№  </th>
												<th>Параметры</th>
                                                <th>Содержание</th>					
											</tr>
										</thead>
													<tbody>
														<tr>
															<td><b>1</b></td>
															<td><b>Банки – партнеры</b></td>
                                                            <td>Коммерческие банки Кыргызской Республики:<br>
                                                                •	не имеющие ограничения по кредитной деятельности и выполняющие все пруденциальные требования Национального Банка Кыргызской Республики;<br>
                                                                •	имеющие трехгодичную безубыточную деятельность*<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>2</b></td>
															<td><b>Целевая группа</b></td>
                                                            <td>Хозяйствующие субъекты, отвечающие критериям и требованиям Кредитной политики Банков-партнеров</td>
														</tr>
                                                        <tr>
															<td><b>3</b></td>
															<td><b>Отрасли финансирования </b></td>
                                                            <td>Хозяйствующие субъекты, осуществляющие деятельность в следующих отраслях:<br>
                                                                •	сектор водоснабжения;<br>
                                                                •	сектор здравоохранения;<br>
                                                                •	сектор энергетики;<br>
                                                                •	автомобильная промышленность;<br>
                                                                •	туризм;<br>
                                                                •	образование, развитие человеческих ресурсов;<br>
                                                                •	наука, исследования и технологии;<br>
                                                                •	химическая и нефтехимическая промышленность;<br>
                                                                •	сельское хозяйство и агропромышленный комплекс;<br>
                                                                •	легкая (швейная и текстильная) промышленность;<br>
                                                                •	обрабатывающая и перерабатывающая промышленность;<br>
                                                                •	горнодобывающая и металлургическая промышленность;<br>
                                                                •	транспорт;<br>
                                                                •	торговля;<br>
                                                                •	развитие предпринимательства;<br>
                                                                •	развитие инфраструктуры;<br>
                                                                •	информационные технологии;<br>
                                                                •	электронная коммерция;<br>
                                                                •	креативная индустрия;<br>
                                                                •	сотовая связь;<br>
                                                                •	предприятия, организованные согласно устойчивым принципам ведения коммерческой деятельности (ESG)<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>4</b></td>
															<td><b>Целевое назначение</b></td>
                                                            <td>Проекты, направленные на диверсификацию и стимулирование экономики Кыргызской Республики,<br>
                                                                 а также создание рабочих мест и выравнивание экономического развития регионов.</td>
														</tr>
                                                        <tr>
															<td><b>5</b></td>
															<td><b>Валюта финансирования</b></td>
                                                            <td>- кыргызский сом</td>
														</tr>
                                                        <tr>
															<td><b>6</b></td>
															<td><b>Срок финансирования</b></td>
                                                            <td>- до 8 лет (96 месяцев).</td>
														</tr>
                                                        <tr>
															<td><b>7</b></td>
															<td><b>Процентная ставка</b></td>
                                                            <td>6 (шесть) % годовых<br>
                                                                -  не выше 9 (девять) % годовых - для заемщиков Банка-партнера.<br>
                                                            </td>
														</tr>
                                                        <tr>
															<td><b>8</b></td>
															<td><b>Суммы финансирования</b></td>
                                                            <td>•	Максимальный размер кредита не должен превышать 150 млн. сом;<br>
                                                                •	Минимальный размер кредита составляет 10 млн. сом; <br>
                                                                •	Банк-партнер может дополнительно софинансировать проект из собственных средств.<br>
                                                                 
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>9</b></td>
															<td><b>Обеспечение по финансированию для банков-партнеров</b></td>
                                                            <td>•	Гарантии Государственных органов КР, Кабинета Министров, международных финансовых институтов, банков и Гарантийного Фонда КР;<br>
                                                                •	Государственные ценные бумаги КР;<br>
                                                                •	Недвижимое имущество, в т.ч. земельные участки;<br>
                                                                •	Оборудование, транспортные средства;<br>
                                                                •	Кредитный портфель банков-партнеров;<br>
                                                                •	Поручительства третьих лиц, приемлемость которых оценивается Банком согласно Залоговой политике Банка;<br>
                                                                •	Прочие виды обеспечения в соответствии с Залоговой политикой Банка.<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>10</b></td>
															<td><b>Обеспечение по финансированию для хозяйствующих субъектов </b></td>
                                                            <td>Обеспечением по полученному кредитованию для хозяйствующих субъектов может выступать любое имущество согласно требованиям нормативной документации НБКР и Банка-партнера.
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>11</b></td>
															<td><b>График погашения для Банка-партнера</b></td>
                                                            <td>•	По процентам – на ежеквартальной основе;<br>
                                                                •	По основному долгу - не менее 2-х раз в год<br>
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>12</b></td>
															<td><b>Процентная ставка при нецелевом использовании кредитных средств </b></td>
                                                            <td>В случае нецелевого использования кредитных средств процентная ставка увеличивается до 20 % годовых. Банк оставляет за собой право внесения информации о нецелевом использовании кредитных средств клиентом в Кредитно-Информационное бюро.
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>13</b></td>
															<td><b>Ответственность по возврату заемных средств субъектами предпринимательства</b></td>
                                                            <td>Банк-партнер полностью принимает на себя риск невозврата кредита заемщиками – хозяйствующими субъектами.
                                                                </td>
														</tr>
                                                        <tr>
															<td><b>14</b></td>
															<td><b>Мониторинг </b></td>
                                                            <td>Банк имеет право проводить мониторинг выданного Банком-партнером кредита на любой стадии его использования. </td>
														</tr>
                                                        <tr>
															<td><b>15</b></td>
															<td><b>Ограничения</b></td>
                                                            <td>Банк не предоставляет:<br>
                                                                •	кредит без обеспечения;<br>
                                                                •	кредиты на торговые операции и оборотный капитал вне проектного финансирования;<br>
                                                                •	кредиты физическим лицам;<br>
                                                                •	кредиты при наличии просроченных обязательств по ранее выданным кредитам;<br>
                                                                •	кредиты Министерству Финансов Кыргызской Республики, Кабинету Министров КР, другим государственным органам и органам местного самоуправления.<br>
                                                                
                                                                <br>Банк также не финансирует:<br>
                                                                •	игорный бизнес;<br>
                                                                •	военную индустрию; <br>
                                                                •	направления, где используется принудительный детский труд;<br>
                                                                •	деятельность, сопряженную с отмыванием/легализацией доходов, полученных незаконным путем, и финансированием терроризма;<br>
                                                                •	торговлю, производство и прочую деятельность, связанную с использованием оружия;<br>
                                                                •	виды деятельности, запрещенные законодательством КР.<br>
                                                                </td>
														</tr>														
													</tbody>
									</table>
                                    <p><i> * при условии предоставления залогового обеспечения в виде государственных ценных<br>
                                        бумаг Министерства финансов Кыргызской Республики данное требование к Банкам-партнерам не применять<br>
                                       ** Банк оставляет за собой право на изменение условий настоящей Программы
                                    </i> </p>
                                    
						</div>
					</div>
				</div>
</div>

{%endblock%}