{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="page-wrapper">

	<div class="left-panel-wrapper">
		<div class="left-panel">
			<div class="container">
				<div class="container__tender">
					<table class="table table-bordered">
						<thead class="table-info">
							<tr>
								<th>Наименование</th>
								<th>Дата публикации</th>
								<th>Срок подачи заявок</th>
								
							</tr>
						</thead>
						<tbody>
							{%  for vacanc in vacancy%}
							<tr>
								<td class="table-Warning"><h5><a href="{% url 'vacancy_detail' vacanc.id %}">{{vacanc.title}}</h5></td>
								<td>{{ vacanc.created }}</td>
								<td>{{ vacanc.date }}</td>

							</tr>
							{%endfor%}
						</tbody>
					</table>
			</div>
		</div>
	</div>
</div>


						<nav aria-label="Page navigation example">
							<ul class="pagination">
									{% if page_obj.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% endif %}
								<li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
								<li class="page-item">
									{% if page_obj.has_next %}
										<a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										</a>
									{% endif %}
								</li>
							</ul>
						</nav>


	<div class="content-wrapper">
		<div class="about__pro">
			<div class="list-group">
				<a href="{% url 'vacancy' %}" class="list-group-item list-group-item-primary">Вакансии</a>
				<a href="{% url 'other' %}" class="list-group-item list-group-item-secondary">Другое</a>
				<a href="{% url 'tender' %}" class="list-group-item list-group-item-primary">Тендер</a>
			</div>
			<section class="ftco-section">
				<div class="row">
					<div class="col-md-12">
						<div class="calendar calendar-first" id="calendar_first">
						<div class="calendar_header">
							<button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
							 <h2></h2>
							<button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
						</div>
						<div class="calendar_weekdays"></div>
						<div class="calendar_content"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</div>
{%endblock%}