{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="page-wrapper">

				<div class="left-panel-wrapper">
					<div class="left-panel">
						<div class="container">
							<div class="container__staff">
								<h4>о Проекте «Обеспечение доступа к рынкам» ПОДР</h4>
										<p>
											<b>Географический охват – вся республика</b> <br>
									<b>Целевые группы:</b> <br>
									1.	Мелкие фермеры-животноводы<br>
									1.1.	малоимущие фермеры-животноводы (те, кто, как правило, имеют 2-3 головы крупного рогатого скота и 8-10 голов овец/коз);<br>
									1.2.	женщины-члены животноводческих домохозяйств, в том числе женщины возглавляющие домохозяйства;<br>
									1.3.	другие мелкие фермеры-животноводы.<br>
									2.	Остальные группы бенефициаров<br>
									2.1.	агропредприятия;<br>
									2.2.	поставщики средств производства и услуг, включая частных ветеринаров;<br>
									2.3.	национальный научно-преподавательский состав института; <br>
									2.4.	женщины-предприниматели;<br>
									2.5.	безработное население сельской местности. <br>
									
									<b>Задача/цель развития проекта</b><br>
									
									<b>Цель:</b> Проекта заключается в содействии росту доходов и повышению экономического роста в пастбищных сообществах. <br>
									
									<b>Цель развития</b> проекта заключается в улучшении доступа и интеграции мелких <br>
									животноводов на прибыльных рынках для реализации своей продукции, что приводит к <br>
									увеличению и равноправности доходов.<br>
									</p>
						</div>
									<table class="table">
										<thead>
											<tr>
												<th>Общая стоимость проекта, вкл: </th>
												<th>40,0 млн. долл. США</th>				
											</tr>
										</thead>
													<tbody>
														<tr>
															<td>Грант (МФСР)</td>
															<td>12,2 млн. долл. США - донор Международный фонд<br> сельскохозяйственного развития (МФСР)</td>
														</tr>
														<tr>
															<td>Заем (МФСР)</td>
															<td>11,4 млн. долл. США - 100% заем на  льготной основе – донор<br>
																Международный фонд сельскохозяйственного развития (МФСР)<br>
																(на 40 лет, каникулы – 10 лет; 0,75% годовых)</td>
														</tr>
														<tr>
															<td>Правительство Кыргызской Республики</td>
															<td>1,4 млн. долл. США со-финансирование<br> ПКР (вклад по вакцинам и выплата налогов)</td>
														</tr>
														<tr>
															<td>Исполнительное агентство</td>
															<td>Министерство сельского хозяйства Кыргызской Республики через<br> 
																Отдел реализации сельскохозяйственных проектов (ОРСП)  </td>
														</tr>
														<tr>
															<td>Реализующее агентство:</td>
															<td>Агентство развития и инвестирования сообществ (АРИС)  </td>
														</tr>
														<tr>
															<td>Дата подписания Соглашения:</td>
															<td>21 августа 2017 г. </td>
														</tr>
														<tr>
															<td>Закон  Кыргызской Республики о Ратификации СФ </td>
															<td>№ 41 от 24 апреля 2018г.</td>
														</tr>
														<tr>
															<td>Дата вступления в силу (согласно письму МФСР об эффективности): </td>
															<td>5 июня 2018 года</td>
														</tr>
														<tr>
															<td>Дата завершения проекта</td>
															<td>30 июня 2024 года</td>
														</tr>
													</tbody>
									</table>
						</div>
					</div>
				</div>


	<div class="content-wrapper">
		<div class="about__pro">
			<div class="list-group">
				<a href="{% url 'disain' %}" class="list-group-item list-group-item-primary">Дизайн проекта</a>
				<a href="{% url 'study' %}" class="list-group-item list-group-item-secondary">Исследование</a>
				<a href="{% url 'report' %}" class="list-group-item list-group-item-primary">Отчёты</a>
			</div>
			<section class="ftco-section">
				<div class="row">
					<div class="col-md-12">
						<div class="calendar calendar-first" id="calendar_first">
						<div class="calendar_header">
							<button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
							 <h2></h2>
							<button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
						</div>
						<div class="calendar_weekdays"></div>
						<div class="calendar_content"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{%endblock%}