p{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="form-floating mb-3">
      <div class="features__title">
        <h1> Заполнение формы</h1>

                    <form action="." method="POST">
                      {% csrf_token %}
                      <div class="container__forms">

                        <p class="form__text">Информация об организации</p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Наименование*</label>
                    </div>
                    <div class="col-75">
                      {{ form.organ_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">ИНН*</label>
                    </div>
                    <div class="col-75">
                      {{ form.inn }}
                    </div>
                  </div>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Организационно-правовая форма*</label>
                    </div>
                    <div class="col-75">
                      {{ form.organizations}}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Отрасль/Сектор*</label>
                    </div>
                    <div class="col-75">
                      {{ form.sector}}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Область*</label>
                    </div>
                    <div class="col-75">
                      {{ form.region}}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Город/Село*</label>
                    </div>
                    <div class="col-75">
                      {{ form.city }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Адрес*</label>
                    </div>
                    <div class="col-75">
                      {{ form.adress }}
                    </div>
                  </div>

                  <p class="form__text">Информация о руководителе</p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Фамилия*</label>
                    </div>
                    <div class="col-75">
                      {{ form.supervisor_last_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Имя*</label>
                    </div>
                    <div class="col-75">
                      {{ form.supervisor_first_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Отчество</label>
                    </div>
                    <div class="col-75">
                      {{ form.supervisor_middle_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Должность*</label>
                    </div>
                    <div class="col-75">
                      {{ form.supervisor_job_title }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Номер телефона*</label>
                    </div>
                    <div class="col-75">
                      {{ form.supervisor_phone }}
                    </div>
                  </div>

                  <p class="form__text">Загрузить скрин паспорта руководителя<br>
                    Загружать можно файлы только в формате pdf, jpg, png
                    </p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Лицевая сторона паспорта*</label>
                    </div>
                    <div class="col-75">
                      <img class="footer__icon" src="{% static './src/images/icons/file.png' %}" alt="Search">
                      {{ form.file_before }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Обратная сторона паспорта*</label>
                    </div>
                    <div class="col-75">
                      <img class="footer__icon" src="{% static './src/images/icons/file.png' %}" alt="Search">
                      {{ form.file_rear }}
                    </div>
                  </div>

                  <p class="form__text">Контактное лицо</p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Фамилия*</label>
                    </div>
                    <div class="col-75">
                      {{ form.last_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Имя*</label>
                    </div>
                    <div class="col-75">
                      {{ form.first_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Отчество*</label>
                    </div>
                    <div class="col-75">
                      {{ form.middle_name }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Должность*</label>
                    </div>
                    <div class="col-75">
                      {{ form.job_title }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Номер телефона*</label>
                    </div>
                    <div class="col-75">
                      {{ form.phone }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Почта*</label>
                    </div>
                    <div class="col-75">
                      {{ form.email }}
                    </div>
                  </div>

                  <p class="form__text">Информация о кредите</p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Запрашиваемая сумма*</label>
                    </div>
                    <div class="col-75">
                      {{ form.requested_amount }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Срок кредита*</label>
                    </div>
                    <div class="col-75">
                      {{ form.credit_term }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Целевое направление кредита*</label>
                    </div>
                    <div class="col-75">
                      {{ form.target_direction }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Собственный вклад в денежном выражении*</label>
                    </div>
                    <div class="col-75">
                      {{ form.own_contribution }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Желаемый график погашения*</label>
                    </div>
                    <div class="col-75">
                      {{ form.desired_schedule }}
                    </div>
                  </div>

                  <p class="form__text">Залоговое обеспечение</p>

                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Наименование документа*</label>
                    </div>
                    <div class="col-75">
                      {{ form.doc_title }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Месторасположение*</label>
                    </div>
                    <div class="col-75">
                      {{ form.location }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Ориентировочная оценочная стоимость*</label>
                    </div>
                    <div class="col-75">
                      {{ form.indicative }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Собственник*</label>
                    </div>
                    <div class="col-75">
                      {{ form.owner }}
                    </div>
                  </div>     
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="lname">Прикрепить файл</label>
                    </div>
                    <div class="col-75">
                      <img class="footer__icon" src="{% static './src/images/icons/file.png' %}" alt="Search">
                      {{ form.file }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Бизнес план*</label>
                    </div>
                    <div class="col-75">
                      {{ form.business_plan }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Финансовая отчетность*</label>
                    </div>
                    <div class="col-75">
                      {{ form.financial_statements }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Свидетельство о госрегистрации*</label>
                    </div>
                    <div class="col-75">
                      {{ form.certificate }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Учредительный документ*</label>
                    </div>
                    <div class="col-75">
                      {{ form.founding_document }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname">Правоустанавливающий/правоудостоверяющий/технический документ на залог*</label>
                    </div>
                    <div class="col-75">
                      {{ form.entitlement }}
                    </div>
                  </div>
                  <div class="row__forms">
                    <div class="col-25">
                      <label for="fname"></label>
                    </div>
                    <div class="form-check">
                      {{ form.is_active }}
                      <label class="form-check-label" for="flexCheckDefault">
                        Согласие на сбор и обработку персональных данных*
                      </label>
                    </div>
                    <div class="col-25">
                      <label for="fname"></label>
                    </div>
                    <div class="form-check">
                      {{ form.is_actives }}
                      <label class="form-check-label" for="flexCheckChecked">
                        Ознакомлен и согласен с условиями предоставления финансирования ОАО<br> «Государственный Банк развития КР»
                      </label>
                    </div>                    
                  </div>

                  </div>
                  <br>
                  <div class="row__forms">
                    <input type="submit" value="Отправить заявку">
                  </div>
                  </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
