{% extends 'main/base.html' %}{% load static %} {% block content %}




<dir class="container">
  <div class="row">
    <h1 align="center">Онлайн вопросы</h1>
    
      {% if task%} {% for on in task%}
      <div class="alert alert-warning mt-2">
        <h2 style=margin-left:35px; > {{ on.title }}</h2>
        <p>Вопрос: {{ on.text | truncatewords:10 }}</p>
        <p class="lead text-muted" style="font-size: 15px" align="right">
          <em>Имя: {{ on.first_name }} {{ on.last_name }}</em>
        </p>
        <p class="lead text-muted" style="font-size: 12px" align="right">
          <em>Дата: {{ on.created }}</em>
        </p>
      </div>

      {%endfor%} {% else %}
      <img src="{% static './src/images/error404.png' %}"  alt="img"/>
      {%endif%}
    </div>

</dir>

{%endblock%}
 