.container{
    margin-top: 125px;
}
.container__detail h1{
    text-align: center;
    padding: 10px;
    font-size: 25px;

}

.container__detail p{
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
}

.container__detail img {
    /* width: 650px !important;
    height: 450px !important;
    margin-left: 330px; */
}

.container__detail .text-mute{
    margin-top: 30px;
    margin-bottom: 30px;
}