.footer {
    background: rgb(17, 103, 184);
    color: #fff;
  }
  .footer__title {
    font-weight: 500px;
    font-size: 18px;
    color: #fff;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    padding: 40px 0;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .footer__bottom {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #fff;
  }
.footer__number {
  color: #fff;
  text-decoration: underline;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}
.footer__icon {
  width: 25px;
}

.footer__socialss {
  margin-left: 220px;
  display: flex;
   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;

} 
  