
.container__tender {
    margin: 155px;
}

.container__tender h2 {
    text-align: left;
    margin-top: 15px;
    font-size: 2rem;
}

.container__tender h6 {
    text-align: left;
    margin-top: 15px;
    font-size: 3rem;
}

.container__tender p {
    text-align: left;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.content-wrapper__w {
    margin-left: 105px;
}


.container__tender__detail {
    text-align: left;
}

.container__tender__detail h6 {
    text-align: left;
    padding-top: 10px;

}


.icons__file {
    width: 70px;
    height: 80px;
}